/* Navigation container */

.navbar-flex-container {
  display: flex;
  justify-content: flex-end;
  /* border: 1px solid black */
}

.navbar {
  width: 30%;
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  padding: 20px 20px 20px 20px ;
  background-color: #eef3f9;
  border: 1px solid #e2e8f0;
  border-radius: 10px; 
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  margin-bottom: 15px;
  border-radius: 10px;
}

.navbar:hover {
    transform: translate(-1px, -3px);
}

/* Shared button styles */
.nav-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.3s ease;
}

/* Dashboard button */
.nav-dashboard {
  background-color: #64748b;
  color: white;
}

.nav-dashboard:hover {
  background-color: #475569;
}

/* Create button */
.nav-add-application {
  background-color: #64748b;
  color: white;
}

.nav-add-application:hover {
  background-color: #475569;
}