@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body {
  background-color: #f8fafc;
  font-family: "Roboto Mono", serif;
  font-optical-sizing: auto;
  font-style: normal;
  display: flex;
  justify-content: center;
}

.main-card-component {
  display: flex;
  align-items: flex-start;
  width: 90vw;
  height: 77vh;
  border: 1px solid #e2e8f0;
  background-color: white;
  border-radius: 10px; 
  transform: translate(0px, 0px);
  box-shadow: 0 2px 8px rgba(100, 116, 139, 0.08);
  padding: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
}


.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15px 0 20px;
}


.header-text-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.app-title {
  font-size: 24px;
  font-weight: 600;
  color: #1e293b;
  margin: 0;
}

.app-subtitle {
  margin: -10px 0 20px 0;
  font-size: 0.9rem;
  color: #666;
  font-weight: normal;
}

.main-card-component:hover {
  transform: translate(-4px, -8px);
  box-shadow: 0 8px 24px rgba(100, 116, 139, 0.25);
  /* border-color: #64748b; */
}


/* <-------------- media queires ---------------> */

@media (max-width: 480px) {
  
  
  .app-header {
    flex-direction: column;
    gap: 10px;
  }
  
  .app-title {
    font-size: 1.5rem;
    text-align: center;
  }
  
  .app-subtitle {
    font-size: 0.8rem;
    text-align: center;
  }
  
  .header-text-content {
    text-align: center;
  }

  .main-card-component {
    height: auto;
  }

}

@media (max-width: 768px) {
  .app-title {
    font-size: 1.8rem;
  }
}