@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body {
  background-color: white; /* A gentle, light blue background */
  font-family: "Roboto Mono", serif;
  font-optical-sizing: auto;
  font-style: normal;
  display: flex;
  justify-content: center;
}
main {
  display: flex;
  align-items: flex-start; /* controls application cards inside main container */
  /* align-items: center; */
  /* justify-content: center; */
  width: 90vw;
  height: 80vh;
  border: 1px solid black;
   /* Center and add spacing at the top */
  background-color: #fff; 
  border-radius: 10px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

