@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body {
  background-color: #f0f4f8; /* A gentle, light blue background */
  font-family: "Roboto Mono", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
main {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  align-items: center;
  justify-content: center;
  width: 97vw;
  height: 90vh;
  margin-left: 20px;
   /* Center and add spacing at the top */
  border: 1px solid black; /* Light grey thin border */
  background-color: #fff; /* White background for contrast */
  border-radius: 10px; /* Slightly rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.applicationContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.applicationContent {
  color: black;
  width: 30vw;
  height: 30vh;
  border: 1px solid black; /* Light grey border */
  border-radius: 5px; /* Slightly rounded corners */
  padding: 20px;
  margin-bottom: 20px; /* Space between cards */
  background-color: #f9fafb; /* Very light grey background for cards */
}

h2, h3, h4 {
  margin: 0; /* Zero out margins for headings */
  padding: 5px 0; /* Add spacing inside headings */
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  font-size: 1em;
}
button:hover {
  background-color: #0056b3;
}

nav {
  margin-bottom: 20px;
  text-align: center;
}